 .u-section-1 {
  background-image: url("images/Bristlecone_mix-perspective_ErikLucerocopy3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 526px;
  height: auto;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 15px;
  height: 137px;
  margin: -89px auto 0 3px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 9px 0 0 3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 533px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 76px;
  margin-bottom: -57px;
}

.u-section-2 .u-image-1 {
  min-height: 382px;
  background-image: url("images/c9601b5fbce5b212c856daf430361cb7614dbb6ac0f0556aa95177c271b4a8160408d8b8a826e993382ee2b1933047a31b89fa5f8eeabcbb190829_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 1px 6px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-2 .u-image-1 {
    min-height: 241px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -28px;
  }

  .u-section-2 .u-image-1 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 532px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  height: 490px;
  margin: -2px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 495px;
  min-height: 204px;
  height: auto;
  margin: -447px auto 0 calc(((100% - 1140px) / 2)  + 74px);
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 171px;
  background-image: url("images/pikaso_texttoimage_A-visually-striking-quantum-computer-encased-in-a-.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 171px;
  background-image: url("images/pikaso_texttoimage_a-image-shows-healthcare-system-powered-by-Quantum3.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  min-height: 171px;
  background-image: url("images/quantum-machinery.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  min-height: 171px;
  background-image: url("images/pikaso_texttoimage_35mm-film-photography-generate-an-image-to-show-hi.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  min-height: 171px;
  background-image: url("images/Gemini_Generated_Image_icgogaicgogaicgo.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-6 {
  min-height: 171px;
  background-image: url("images/Gemini_Generated_Image_plv83jplv83jplv8.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-7 {
  width: 197px;
  height: 204px;
  margin: -416px calc(((100% - 1140px) / 2)  + 333px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 682px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2)  + 74px);
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 141px;
  }

  .u-section-3 .u-image-2 {
    min-height: 141px;
  }

  .u-section-3 .u-image-3 {
    min-height: 141px;
  }

  .u-section-3 .u-image-4 {
    min-height: 141px;
  }

  .u-section-3 .u-image-5 {
    min-height: 141px;
  }

  .u-section-3 .u-image-6 {
    min-height: 141px;
  }

  .u-section-3 .u-image-7 {
    position: absolute;
    margin-right: calc(((100% - 940px) / 2)  + 299px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 482px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
    height: 195px;
    margin-top: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 125px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 108px;
  }

  .u-section-3 .u-image-2 {
    min-height: 108px;
  }

  .u-section-3 .u-image-3 {
    min-height: 108px;
  }

  .u-section-3 .u-image-4 {
    min-height: 108px;
  }

  .u-section-3 .u-image-5 {
    min-height: 108px;
  }

  .u-section-3 .u-image-6 {
    min-height: 108px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -460px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1009px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 45px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 162px;
  }

  .u-section-3 .u-image-2 {
    min-height: 162px;
  }

  .u-section-3 .u-image-3 {
    min-height: 162px;
  }

  .u-section-3 .u-image-4 {
    min-height: 162px;
  }

  .u-section-3 .u-image-5 {
    min-height: 162px;
  }

  .u-section-3 .u-image-6 {
    min-height: 162px;
  }

  .u-section-3 .u-image-7 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 951px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    height: 98px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 170px;
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 24px;
  }

  .u-section-3 .u-image-1 {
    min-height: 102px;
  }

  .u-section-3 .u-image-2 {
    min-height: 102px;
  }

  .u-section-3 .u-image-3 {
    min-height: 102px;
  }

  .u-section-3 .u-image-4 {
    min-height: 102px;
  }

  .u-section-3 .u-image-5 {
    min-height: 102px;
  }

  .u-section-3 .u-image-6 {
    min-height: 102px;
  }

  .u-section-3 .u-image-7 {
    width: 112px;
    height: 98px;
    margin-top: -928px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-4 .u-sheet-1 {
  min-height: 726px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 576px;
}

.u-section-4 .u-container-layout-1 {
  padding: 26px 0 0;
}

.u-section-4 .u-text-1 {
  margin: 14px 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 19px 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 21px 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin: 0 20px 0 auto;
  padding: 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Gemini_Generated_Image_efczziefczziefcz.jpeg");
  background-position: 50% 50%;
  min-height: 576px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 475px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 364px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-image-1 {
    min-height: 546px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-image-1 {
    min-height: 344px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 443px;
}

.u-section-5 .u-text-1 {
  margin-top: 75px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 64px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-5 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 38px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 31px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-5 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 31px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 8px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 32px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 13px;
}

.u-section-5 .u-icon-4 {
  height: 58px;
  width: 58px;
  margin: 9px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-5 .u-icon-5 {
  height: 58px;
  width: 58px;
  margin: 9px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 31px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 191px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 215px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 168px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 163px;
  }
}